
<div >
    <div widget class="card border-0 box-shadow">
        <div class="card-header transparent border-0 text-muted">
            <h5 class="mb-0" align="center">New announcement</h5>
            <div class="widget-controls"> 
                <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
            </div>        
        </div>
        <div class="card-body widget-body">

           

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="inputFirstName">Title</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="Title">
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="inputFirstName">Description</label>
                    <input type="text" class="form-control" id="inputDescription" placeholder="Description">
                    </div>
					<div class="col-md-4">
						<div class="form-group">
						<p align="center">&nbsp;&nbsp;&nbsp; Select Community
							<select size="1" name="D1">
							<option selected>All</option>
							<option>devops</option>
							<option>backend</option>
							<option>RH</option>
							</select> 
                        
                   
						<p align="center">Member<br>
							<select size="1" name="D2">
							<option>anis</option>
							<option>badis</option>
							<option>mohamed essid</option>
							</select>
					</div>
					</div>
				
                </div>
				
				<div>
				</div>
                
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-success">ajouter annonce</button>
            </div>   
           
        </div>
    </div>


